/*
 * Large devices, wide screens
 * @media only screen and (max-width : 1200px) {
 * }
 *
 * Large devices, wide screens
 * @media only screen and (max-width : 992px) {
 * }
 *
 * Small devices, tablets
 * @media only screen and (max-width : 768px) {
 * }
 *
 * Extra small devices, phones
 * @media only screen and (max-width : 480px) {
 * }
 *
 * Custom, iPhone Retina
 * @media only screen and (max-width : 320px) {
 * }
 *
 */

body {
	background: #F0F0F0;
	color: #333333;
}

.card {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  min-height: 300px;
  padding: 10px;
}

.card-wrapper {
  padding: 5px;
}
@media only screen and (max-width: 992px) { /* Medium devices, desktops */
  .card-wrapper {
    float: none !important;
  }
}

@media only screen (max-width: 992px) { /* Medium devices, desktops */
  .profile-card-wrapper {
    position: relative;
  }
}